<!DOCTYPE html>
<html>
    <head>
        <h1>Signup</h1>
        <style>
            .error { color:red; }

        </style>
    </head>
    <body>
        <form method="POST">
            <!--- create a table with margin what pushes up the header -->
            <table style="margin-bottom:10px;">
            <tr>
                <!--- span will span the error on the same line as input -->
                <td>Username</td>
                <td><input type="text" name="user_name" value='{{ name }}'/>
                <span class = "error">{{ user_name_err }}</span> 
                </td>
            </tr>
            <div>
                <br>
            </div>
            <tr>
                <td>Password</td>
                <td><input type="password" name="passwd" value='{{ passwd }}'/>
                <span class = "error">{{ passwd_err }}</span></td>
            <div>
                <br>
            </div>
            <tr>
                <td>Verify Password</td>
                <td><input type="password" name="verify_passwd" 
                value='{{ verify_passwd }}'/>
                <span class = "error">{{ verify_passwd_err }}</span>
                </td>
            </tr>
            <div>
                <br>
            </div>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" value='{{ email }}' />
                <span class = "error">{{ email_err }}</span></td>
            <div>
                <br>
            </div>
            <tr>
                <td><input type="submit" value="Submit Query" /></td>
            </tr>  
        </form>
        <div>
            <br>
        </div>
    </body>
</html>